<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(37.787994, -122.407437);
		var myOptions = {
			zoom: 15,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var info = new google.maps.InfoWindow({content: "cold truck, sandwiches, corndogs, tacos, yogurt, snacks, candy, hot and cold drinks"});
		var latlng = new google.maps.LatLng(37.786558, -122.401033);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "M M Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "tacos, burritos, tortas, quesadillas, mexican drinks, aguas frescas"});
		var latlng = new google.maps.LatLng(37.790485, -122.400940);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Santana ESG, Inc.",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "tacos, burritos, quesadillas, soda & water"});
		var latlng = new google.maps.LatLng(37.790485, -122.400940);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Tacos Rodriguez",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, sandwiches, corndogs, tacos, yogurt, snacks, candy, hot and cold drinks"});
		var latlng = new google.maps.LatLng(37.785346, -122.399455);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "M M Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, hot & cold sandwiches, bagels, burritos, soups, hot dogs, tacos, pork buns, bbq meat, fruit, various beverages, pasties, pre-packaged snacks, candy, salads, muffins, scones, brownies, croissants, energy bars, noodle bowls"});
		var latlng = new google.maps.LatLng(37.791777, -122.397133);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Two G's Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "tacos, ceviche, agua fresca, fideos, tortas, bacon-wrapped hot dogs"});
		var latlng = new google.maps.LatLng(37.792536, -122.394593);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Tres Agaves Mexican Kitchen & Tequila Lounge LLC. dba Tres Truck",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, sandwiches, corndogs, tacos, yogurt, snacks, candy, hot and cold drinks"});
		var latlng = new google.maps.LatLng(37.793872, -122.394865);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "M M Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, sandwiches, corndogs, tacos, yogurt, snacks, candy, hot and cold drinks"});
		var latlng = new google.maps.LatLng(37.793371, -122.394233);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "M M Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, sandwiches, corndogs, tacos, yogurt, snacks, candy, hot and cold drinks"});
		var latlng = new google.maps.LatLng(37.798864, -122.400264);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "M M Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, burrito, corn dog, salads, sandwiches, quesadilla, tacos, fried rice, cow mein, chinese rice, noodle plates, soup, bacon, eggs, ham, avacado, sausages, beverages"});
		var latlng = new google.maps.LatLng(37.776876, -122.400260);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Eva's Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "tacos, burritos, tortas, quesadillas, salads, soup, fruits, juices, soda, water"});
		var latlng = new google.maps.LatLng(37.780647, -122.394629);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Tacos El Ojo De Agua",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, sandwiches, corndogs, tacos, yogurt, snacks, candy, hot and cold drinks"});
		var latlng = new google.maps.LatLng(37.774984, -122.407841);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "M M Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
		var info = new google.maps.InfoWindow({content: "cold truck, burrito, corn dog, salads, sandwiches, quesadilla, tacos, fried rice, cow mein, chinese rice, noodle plates, soup, bacon, eggs, ham, avacado, sausages, beverages"});
		var latlng = new google.maps.LatLng(37.776099, -122.400287);
		var img = new google.maps.MarkerImage('http://chart.apis.google.com/chart?cht=mm&chs=12x16&chco=FFFFFF,0000FF,000000&ext=.png');
		var marker = new google.maps.Marker({
		title: "Eva's Catering",
		icon: img,
		position: latlng
		});
		marker.setMap(map);
func = function(info, marker) {
            return function() {
                info.open(map, marker);
            };
        };
        google.maps.event.addListener(marker, "click", func(info, marker));
        
	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
